services:
    chronos:
      image: chronos:local
      environment:
        DATABASE_TYPE: postgres
        DATABASE_HOST: postgres
        DATABASE_PORT: 5432
        DATABASE_NAME: chronos
        DATABASE_USER: chronos
        DATABASE_PASSWORD: secret
        CHRONOS_INITIAL_USER: admin@admin.com:test1234:admin
        DEBUG: true
      ports:
        - "3001:3000"
      volumes:
        - ./.chronos:/root/.chronos
      depends_on:
        - postgres

    postgres:
      image: postgres:15
      ports:
        - "5432:5432"
      volumes:
        - ./.postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: chronos
        POSTGRES_USER: chronos
        POSTGRES_PASSWORD: secret
